﻿@page
@model WebApp.Pages.GameModel
@{
    ViewData["Title"] = "Game";
}

<pre>@Model.GameScreen</pre>
<br>
<form action="/Game">
    <input type="text" asp-for="UserInput" value="" autofocus>
    <input type="submit" value="Submit">
</form>
