﻿@page
@model WebApp.Pages.GameOverScreenModel
@{
    ViewData["Title"] = "GameOverScreen";
}

<p>@Model.Winner()</p>
@{
    if (!GameOverScreenModel.Save)
    {
        <p>To save this game's replay, type its name below.</p>
        <form method="post">
            <input asp-for="UserInput" />
            <input type="submit" value="Save replay" />
        </form>
    }
    else
    {
        <p>Replay saved!</p>
        GameOverScreenModel.Save = false;
    }
}
<p><a asp-page="/Index"> Back to main</a></p>


