﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Battleship";
}

<div>
    <p><a asp-page="/NewGame">New Game</a></p>
    <p><a asp-page="/LoadGame">Load Game</a></p>
    <p><a asp-page="/Replay">Replays</a></p>
    <p><a asp-page="/Options">Options</a></p>
</div>
