﻿@page
@model WebApp.Pages.InitCustomGameModel
@{
    ViewData["Title"] = "InitCustomGame";
}
@{
    if (InitCustomGameModel.WarningScreen)
    {
        <p>Player @InitCustomGameModel.activePlayer where do you want your ships? Player @InitCustomGameModel.passivePlayer look away!</p>
        <p>Press enter to continue!</p>
    }
    else if(InitCustomGameModel.ShowCompleteMap)
    {
        <pre>@Model.GameScreen</pre>
        <p>Press enter to continue!</p>
    }
    else
    {
        <pre>@Model.GameScreen</pre>
        <br>
        <p>Place your @Model.ShipName (size @Domain.Rules.ShipSizes[Model.ShipName])</p>
        <p>Enter a starting coordinate (e.g. a1) and for 90 degrees tilt insert + (e.g. a1+) or enter s to skip</p>
    }
}
<form method="post">
    <input type="text" asp-for="UserInput" value="" autofocus>
    <input type="submit" value="Submit">
</form>
