﻿@page
@model WebApp.Pages.LoadGameModel
@{
    ViewData["Title"] = "LoadGame";
}
<p><a asp-page="/Index">Back to main</a></p>
<table>
    <tr><th>Date</th><th>Name</th><th>Load</th><th>Delete</th></tr>
    @{ 
        for (int i = 1; i <= Model.TbvPage.Count; i++)
        {
            <tr>
                <td>@Utilities.Utilities.FormatTime(Model.TbvPage[i - 1].Timestamp)</td>
                <td>@Model.TbvPage[i - 1].SaveName</td>
                <td><button onclick="location.href='/LoadGame?action=load&id=@i&page=@Model.CurPageNr';">L</button></td>
                <td><button onclick="location.href='/LoadGame?action=delete&id=@i&page=@Model.CurPageNr';">X</button></td>
            </tr>
        }
    }
</table>
<p><a href="/LoadGame?action=prev&page=@Model.CurPageNr"><</a> Page @Model.CurPageNr of @Model.Tbv.PageCount() <a href="/LoadGame?action=next&page=@Model.CurPageNr">></a></p>


