﻿@page
@model WebApp.Pages.NewGameModel
@{
    ViewData["Title"] = "NewGame";
}

<div>
    <p><a asp-page="/Index">Back to main</a></p>
    <p><a asp-page="/InitRandomGame">Random starting positions</a></p>
    <p><a href="/InitCustomGame?newGame=createNewGame">Custom starting positions</a></p>
</div>

