﻿@page
@model WebApp.Pages.OptionsModel
@{
    ViewData["Title"] = "Options";
}
<p><a asp-page="/Index">Back to main</a></p>

<form method="post">
    
    <p>Ships may touch: <input asp-for="ShipsMayTouch" /></p>
    <p>Map size: <input asp-for="Width" /> <input asp-for="Height" /></p>
    <p>
        Fleet size:
        <table>
            <tr><th>Ship name</th><th>Ship Count</th><th>Ship size</th></tr>
            @{
                foreach (var ship in Domain.Rules.ShipNames)
                {
                    <tr>
                        <td>@ship</td><td><input type="number" value="@Domain.Rules.FleetSize[ship]" name="c_@ship" /></td>
                        <td><input type="number" value="@Domain.Rules.ShipSizes[ship]" name="s_@ship" /></td>
                    </tr>
                }
            }
        </table>
    </p>
    <input type="submit" value="Save">
</form>
