﻿@page
@model WebApp.Pages.ReplayerModel
@{
    ViewData["Title"] = "Replayer";
}

<pre>@Model.GameScreen</pre>
<br>
<p>Press enter to view the next turn!</p>
@{
    if (ReplayerModel.Replayer.turnCount == ReplayerModel.Replayer.turns.Count + 1)
    {
        <p>Player @ReplayerModel.Replayer.winner won!"</p>
    }
    else
    {
        <form action="/Replayer">
            <input type="text" asp-for="UserInput" value="" autofocus>
            <input type="submit" value="Submit">
            <input type="hidden" name="next" value="true" />
        </form>
    }
}
<p><a asp-page="/Index">Back to main</a></p>

