﻿@page
@model WebApp.Pages.ReplayModel
@{
    ViewData["Title"] = "Replay";
}
<p><a asp-page="/Index">Back to main</a></p>
<table>
    <tr><th>Date</th><th>Name</th><th>Load</th><th>Delete</th></tr>
    @{
        for (int i = 1; i <= Model.TbvPage.Count; i++)
        {
            <tr>
                <td>@Utilities.Utilities.FormatTime(Model.TbvPage[i - 1].Timestamp)</td>
                <td>@Model.TbvPage[i - 1].SaveName</td>
                <td><button onclick="location.href='/Replay?action=load&id=@i&page=@Model.CurPageNr';">L</button></td>
                <td><button onclick="location.href='/Replay?action=delete&id=@i&page=@Model.CurPageNr';">X</button></td>
            </tr>
        }
    }
</table>
<p><a href="/Replay?action=prev&page=@Model.CurPageNr"><</a>Page @Model.CurPageNr of @Model.Tbv.PageCount()<a href="/Replay?action=next&page=@Model.CurPageNr">></a></p>

